/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.appointments-card-container {
  background-color: #ffffff;
  padding: 20px;
}
.appointment-main-heading {
  color: #171f46;
}
.title-label {
  color: #b5b7c4;
  padding-bottom: 10px;
  display: block;
}
.title-input {
  color: #b5b7c4;
  display: block;
  margin-bottom: 20px;
  width: 200px;
  border: 1px solid #b5b7c4;
  border-radius: 3px;
  padding: 5px;
}
.date-input {
  color: #b5b7c4;
  display: block;
  margin-bottom: 20px;
  width: 200px;
  border: 1px solid #b5b7c4;
  border-radius: 3px;
  padding: 5px;
}
.date-label {
  color: #b5b7c4;
  display: block;
  margin-bottom: 10px;
}
.starred-button-on {
  background-color: #8b5cf6;
  border-width: 0px;
  color: #ffffff;
  padding: 5px;
  width: 60px;
  border-radius: 18px;
}
.appointments-image {
  display: none;
}
.appointments-bottom-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.appointments-heading {
  color: #171f46;
  font-size: 18px;
}
.starred-button-off {
  background-color: transparent;
  color: #8b5cf6;
  padding: 5px;
  width: 60px;
  border-radius: 18px;
  border-width: 0px;
  border: 1px solid #8b5cf6;
}
.add-button {
  background-color: #8b5cf6;
  color: #ffffff;
  padding: 5px;
  border-width: 0px;
  height: 30px;
  width: 60px;
  border-radius: 7px;
}

@media screen and (min-width: 768px) {
  .appointments-image {
    display: block;
    width: 300px;
    margin-left: 20px;
  }
  .appointment-form-and-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .starred-button {
    color: #9897f0;
    background-color: transparent;
    border: 1px solid #9897f0;
    padding: 5px;
    border-radius: 12px;
    width: 90px;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
